ProviderCall/.gradle
ProviderCall/.idea
ProviderCall/ProviderCall.iml
ProviderCall/app/build/

WebViewSummary/.gradle
WebViewSummary/.idea
PureJavaProj/.gradle
PureJavaProj/.idea

DiskLruTest/.idea
DiskLruTest/.gradle

RecyclerViewTest/.idea
RecyclerViewTest/.gradle

LruTest/.idea
LruTest/.gradle

ProviderCall/app/*.iml
WebViewSummary/app/*.iml
PureJavaProj/app/*.iml


ProviderCall/local.properties
ProviderCall/build/*
